<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits App</title>
</head>
<body>
    <h1>Edit <%= fruit.name %>!</h1>
    <form action="/fruits/<%= fruit._id %>"?_method=PUT method="POST">
        <div>
            <label for="name">Name: </label>
            <input type="text" name="name" id="name" required value="<%= fruit.name %>" />
        </div>

        <div>
            <label for="isReadyToEat">Ready to Eat?</label>
            <input type="checkbox" name="isReadyToEat" id="isReadyToEat" <% if (fruit.isReadyToEat) { %>checked<%} %> />
        </div>

        <div>
            <button type="submit">Add Fruit</button>
        </div>
    </form>    
    <a href="/fruits">Back to Fruits</a>
</body>
</html>